$page-font: Arial, Helvetica, sans-serif;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $page-font;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
